<!-- Add Registration Container -->
<section id="add-registration-container">
  <!-- Card Container -->
  <section class="card">
    <!-- Card Header -->
    <section class="card-header">
      <h4 class="card-title">User Registration</h4>
    </section>

    <!-- Card Content -->
    <section class="card-content">
      <section class="px-3">
        <!-- Registration Form -->
        <form class="form form-horizontal" autocomplete="off" #form="ngForm">
          <!-- Personal Information -->
          <section class="form-body">
            <h4 class="form-section"><i class="ft-user"></i> Personal Information</h4>

            <!-- Referral -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="category">Category: </label>
              <section class="col-md-6">
                <select id="category" name="category" class="form-control" [(ngModel)]="addRegistrationModel.category">
                  <option value="none" disabled>Category:</option>
                  <option value="direct">Direct</option>
                  <option value="referral">Referral</option>
                </select>
              </section>
            </section>

            <!-- First Name -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="first-name">First Name: </label>
              <section class="col-md-6">
                <input
                  type="text"
                  id="first-name"
                  class="form-control"
                  name="firstName"
                  [(ngModel)]="addRegistrationModel.firstName"
                />
              </section>
            </section>

            <!-- Last Name -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="last-name">Last Name: </label>
              <section class="col-md-6">
                <input
                  type="text"
                  id="last-name"
                  class="form-control"
                  name="lastName"
                  [(ngModel)]="addRegistrationModel.lastName"
                />
              </section>
            </section>

            <!-- Date Of Birth -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="dob">Date Of Birth: </label>
              <section class="col-md-6">
                <input
                  type="date"
                  id="dob"
                  class="form-control"
                  name="dateOfBirth"
                  [ngModel]="addRegistrationModel.dateOfBirth | date: 'yyyy-MM-dd'"
                  (ngModelChange)="addRegistrationModel.dateOfBirth = $event"
                />
              </section>
            </section>

            <!-- National ID -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="national-id">National ID: </label>
              <section class="col-md-6">
                <input
                  type="text"
                  id="national-id"
                  class="form-control"
                  name="nationalId"
                  [(ngModel)]="addRegistrationModel.nationalId"
                />
              </section>
            </section>

            <!-- Landline Number -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="landline-number">Landline Number: </label>
              <section class="col-md-6">
                <input
                  type="number"
                  id="landline-number"
                  class="form-control"
                  name="landlineNumber"
                  [(ngModel)]="addRegistrationModel.landlineNumber"
                />
              </section>
            </section>

            <!-- Mobile Number -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="mobile-number">Mobile Number: </label>
              <section class="col-md-6">
                <input
                  type="number"
                  id="mobile-number"
                  class="form-control"
                  name="mobileNumber"
                  [(ngModel)]="addRegistrationModel.mobileNumber[0]"
                />
              </section>
            </section>

            <!-- Email ID -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="email-id">E-mail: </label>
              <section class="col-md-6">
                <input
                  type="text"
                  id="email-id"
                  class="form-control"
                  name="emailId"
                  [(ngModel)]="addRegistrationModel.emailId"
                />
              </section>
            </section>

            <!-- Emergency Contact -->
            <section class="form-group row">
              <label class="col-md-3 label-control">Emergency Contact: </label>
              <section class="col-md-6">
                <!-- Relation -->
                <select
                  name="relation"
                  class="form-control"
                  [(ngModel)]="addRegistrationModel.emergencyContact[0].relation"
                >
                  <option value="none" disabled>Relation:</option>
                  <option value="parent">Parent</option>
                  <option value="spouse">Spouse</option>
                  <option value="children">Children</option>
                  <option value="siblings">Siblings</option>
                  <option value="others">Others</option>
                </select>

                <!-- Contact Name -->
                <input
                  type="text"
                  class="form-control mt-2"
                  name="contact-name"
                  placeholder="Contact Name"
                  [(ngModel)]="addRegistrationModel.emergencyContact[0].name"
                />

                <!-- Contact Number -->
                <input
                  type="text"
                  class="form-control mt-2"
                  name="mobileNumber"
                  placeholder="Contact Number"
                  [(ngModel)]="addRegistrationModel.emergencyContact[0].mobileNumber"
                />
              </section>
            </section>

            <!-- Address -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="address">Address: </label>
              <section class="col-md-6">
                <input
                  type="text"
                  id="address"
                  class="form-control"
                  name="address"
                  [(ngModel)]="addRegistrationModel.address"
                />
              </section>
            </section>

            <!-- Country -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="country">Country: </label>
              <section class="col-md-6">
                <section id="country">Somalia</section>
              </section>
            </section>

            <!-- State -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="state">State: </label>
              <section class="col-md-6">
                <input
                  type="text"
                  id="state"
                  class="form-control"
                  name="state"
                  [(ngModel)]="addRegistrationModel.state"
                />
              </section>
            </section>

            <!-- Area -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="area">Area: </label>
              <section class="col-md-6">
                <input type="text" id="area" class="form-control" name="area" [(ngModel)]="addRegistrationModel.area" />
              </section>
            </section>

            <!-- Test Information -->
            <h4 class="form-section"><i class="ft-clipboard"></i> COVID-19 Tests</h4>

            <!-- Referral Organization -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="referral">Referral: </label>
              <section class="col-md-6">
                <select id="referral" name="referral" class="form-control" [(ngModel)]="addRegistrationModel.referral">
                  <option value="none" disabled>Doctor:</option>
                </select>
              </section>
            </section>

            <!-- Referral Doctor -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="referral">Doctor: </label>
              <section class="col-md-6">
                <select id="doctor" name="referral" class="form-control" [(ngModel)]="addRegistrationModel.doctor">
                  <option value="none" disabled>Doctor:</option>
                </select>
              </section>
            </section>

            <!-- File Number -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="file-number">File Number: </label>
              <section class="col-md-6">
                <input
                  type="text"
                  id="file-number"
                  class="form-control"
                  name="fileNumber"
                  [(ngModel)]="addRegistrationModel.fileNumber"
                />
              </section>
            </section>

            <!-- Test -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="test">Test: </label>
              <section class="col-md-6">
                <select id="test" name="test" class="form-control" [(ngModel)]="addRegistrationModel.samples[0].test">
                  <option value="none" selected="" disabled="">Test</option>
                  <option value="COVID_19_ANTIBODY_RAPID_SCREENING_TEST">COVID 19 ANTIBODY RAPID SCREENING TEST</option>
                  <option value="COVID_19_DETECTION_BY_PCR">COVID 19 DETECTION BY PCR</option>
                </select>
              </section>
            </section>

            <!-- Test Priority -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="priority">Test Priority: </label>
              <section class="col-md-6">
                <select
                  id="priority"
                  name="priority"
                  class="form-control"
                  [(ngModel)]="addRegistrationModel.samples[0].priority"
                >
                  <option value="none" disabled>Test Priority:</option>
                  <option value="high">High</option>
                  <option value="medium" selected>Medium</option>
                  <option value="low">Low</option>
                </select>
              </section>
            </section>

            <!-- Date Time: Sample Collection -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="sample-collection">Sample Collection: </label>
              <section class="col-md-6">
                <input
                  type="datetime-local"
                  id="sample-collection"
                  class="form-control"
                  name="collectionDateTime"
                  [ngModel]="addRegistrationModel.samples[0].collectionDateTime | date: 'yyyy-MM-ddTHH:mm'"
                  (ngModelChange)="addRegistrationModel.samples[0].collectionDateTime = $event"
                />
              </section>
            </section>

            <!-- Date Time: Sample Assertion -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="process-collection">Process Collection: </label>
              <section class="col-md-6">
                <input
                  type="datetime-local"
                  id="process-collection"
                  class="form-control"
                  name="assertionDateTime"
                  [ngModel]="addRegistrationModel.samples[0].assertionDateTime | date: 'yyyy-MM-ddTHH:mm'"
                  (ngModelChange)="addRegistrationModel.samples[0].assertionDateTime = $event"
                />
              </section>
            </section>

            <!-- Comment -->
            <section class="form-group row">
              <label class="col-md-3 label-control" for="remarks">Comment: </label>
              <section class="col-md-6">
                <textarea
                  id="remarks"
                  rows="5"
                  class="form-control"
                  name="comment"
                  [(ngModel)]="addRegistrationModel.samples[0].comment"
                ></textarea>
              </section>
            </section>
          </section>

          <!-- Miscellaneous Information -->
          <h4 class="form-section"><i class="ft-info"></i> Miscellaneous Information</h4>

          <!-- History Of Foreign Travel -->
          <section class="form-group row">
            <label class="col-md-3 label-control">History Of Foreign Travel: </label>
            <section class="col-md-6 input-group">
              <section class="custom-control custom-radio d-inline-block">
                <input
                  type="radio"
                  id="yes"
                  name="historyOfForeignTravel"
                  class="custom-control-input"
                  checked
                  [(ngModel)]="addRegistrationModel.miscellaneousInformation.hasHistoryOfForeignTravel"
                />
                <label class="custom-control-label" for="yes">Yes</label>
              </section>
              <section class="custom-control custom-radio d-inline-block ml-1">
                <input type="radio" id="no" name="historyOfForeignTravel" class="custom-control-input" />
                <label class="custom-control-label" for="no">No</label>
              </section>
            </section>
          </section>

          <!-- Country -->
          <section class="form-group row">
            <label class="col-md-3 label-control" for="miscellaneous_country">Country: </label>
            <section class="col-md-6">
              <select
                id="miscellaneous_country"
                name="travelledCountry"
                class="form-control"
                [(ngModel)]="addRegistrationModel.miscellaneousInformation.travelledCountry"
              >
                <option value="none" selected>Country:</option>
                <option value="Afganistan">Afghanistan</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
                <option value="American Samoa">American Samoa</option>
                <option value="Andorra">Andorra</option>
                <option value="Angola">Angola</option>
                <option value="Anguilla">Anguilla</option>
                <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Aruba">Aruba</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Azerbaijan">Azerbaijan</option>
                <option value="Bahamas">Bahamas</option>
                <option value="Bahrain">Bahrain</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Barbados">Barbados</option>
                <option value="Belarus">Belarus</option>
                <option value="Belgium">Belgium</option>
                <option value="Belize">Belize</option>
                <option value="Benin">Benin</option>
                <option value="Bermuda">Bermuda</option>
                <option value="Bhutan">Bhutan</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Bonaire">Bonaire</option>
                <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                <option value="Botswana">Botswana</option>
                <option value="Brazil">Brazil</option>
                <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                <option value="Brunei">Brunei</option>
                <option value="Bulgaria">Bulgaria</option>
                <option value="Burkina Faso">Burkina Faso</option>
                <option value="Burundi">Burundi</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Cameroon">Cameroon</option>
                <option value="Canada">Canada</option>
                <option value="Canary Islands">Canary Islands</option>
                <option value="Cape Verde">Cape Verde</option>
                <option value="Cayman Islands">Cayman Islands</option>
                <option value="Central African Republic">Central African Republic</option>
                <option value="Chad">Chad</option>
                <option value="Channel Islands">Channel Islands</option>
                <option value="Chile">Chile</option>
                <option value="China">China</option>
                <option value="Christmas Island">Christmas Island</option>
                <option value="Cocos Island">Cocos Island</option>
                <option value="Colombia">Colombia</option>
                <option value="Comoros">Comoros</option>
                <option value="Congo">Congo</option>
                <option value="Cook Islands">Cook Islands</option>
                <option value="Costa Rica">Costa Rica</option>
                <option value="Cote DIvoire">Cote DIvoire</option>
                <option value="Croatia">Croatia</option>
                <option value="Cuba">Cuba</option>
                <option value="Curaco">Curacao</option>
                <option value="Cyprus">Cyprus</option>
                <option value="Czech Republic">Czech Republic</option>
                <option value="Denmark">Denmark</option>
                <option value="Djibouti">Djibouti</option>
                <option value="Dominica">Dominica</option>
                <option value="Dominican Republic">Dominican Republic</option>
                <option value="East Timor">East Timor</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Egypt">Egypt</option>
                <option value="El Salvador">El Salvador</option>
                <option value="Equatorial Guinea">Equatorial Guinea</option>
                <option value="Eritrea">Eritrea</option>
                <option value="Estonia">Estonia</option>
                <option value="Ethiopia">Ethiopia</option>
                <option value="Falkland Islands">Falkland Islands</option>
                <option value="Faroe Islands">Faroe Islands</option>
                <option value="Fiji">Fiji</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="French Guiana">French Guiana</option>
                <option value="French Polynesia">French Polynesia</option>
                <option value="French Southern Ter">French Southern Ter</option>
                <option value="Gabon">Gabon</option>
                <option value="Gambia">Gambia</option>
                <option value="Georgia">Georgia</option>
                <option value="Germany">Germany</option>
                <option value="Ghana">Ghana</option>
                <option value="Gibraltar">Gibraltar</option>
                <option value="Great Britain">Great Britain</option>
                <option value="Greece">Greece</option>
                <option value="Greenland">Greenland</option>
                <option value="Grenada">Grenada</option>
                <option value="Guadeloupe">Guadeloupe</option>
                <option value="Guam">Guam</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Guinea">Guinea</option>
                <option value="Guyana">Guyana</option>
                <option value="Haiti">Haiti</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Honduras">Honduras</option>
                <option value="Hong Kong">Hong Kong</option>
                <option value="Hungary">Hungary</option>
                <option value="Iceland">Iceland</option>
                <option value="Indonesia">Indonesia</option>
                <option value="India">India</option>
                <option value="Iran">Iran</option>
                <option value="Iraq">Iraq</option>
                <option value="Ireland">Ireland</option>
                <option value="Isle of Man">Isle of Man</option>
                <option value="Israel">Israel</option>
                <option value="Italy">Italy</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Japan">Japan</option>
                <option value="Jordan">Jordan</option>
                <option value="Kazakhstan">Kazakhstan</option>
                <option value="Kenya">Kenya</option>
                <option value="Kiribati">Kiribati</option>
                <option value="Korea North">Korea North</option>
                <option value="Korea Sout">Korea South</option>
                <option value="Kuwait">Kuwait</option>
                <option value="Kyrgyzstan">Kyrgyzstan</option>
                <option value="Laos">Laos</option>
                <option value="Latvia">Latvia</option>
                <option value="Lebanon">Lebanon</option>
                <option value="Lesotho">Lesotho</option>
                <option value="Liberia">Liberia</option>
                <option value="Libya">Libya</option>
                <option value="Liechtenstein">Liechtenstein</option>
                <option value="Lithuania">Lithuania</option>
                <option value="Luxembourg">Luxembourg</option>
                <option value="Macau">Macau</option>
                <option value="Macedonia">Macedonia</option>
                <option value="Madagascar">Madagascar</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Malawi">Malawi</option>
                <option value="Maldives">Maldives</option>
                <option value="Mali">Mali</option>
                <option value="Malta">Malta</option>
                <option value="Marshall Islands">Marshall Islands</option>
                <option value="Martinique">Martinique</option>
                <option value="Mauritania">Mauritania</option>
                <option value="Mauritius">Mauritius</option>
                <option value="Mayotte">Mayotte</option>
                <option value="Mexico">Mexico</option>
                <option value="Midway Islands">Midway Islands</option>
                <option value="Moldova">Moldova</option>
                <option value="Monaco">Monaco</option>
                <option value="Mongolia">Mongolia</option>
                <option value="Montserrat">Montserrat</option>
                <option value="Morocco">Morocco</option>
                <option value="Mozambique">Mozambique</option>
                <option value="Myanmar">Myanmar</option>
                <option value="Nambia">Nambia</option>
                <option value="Nauru">Nauru</option>
                <option value="Nepal">Nepal</option>
                <option value="Netherland Antilles">Netherland Antilles</option>
                <option value="Netherlands">Netherlands (Holland, Europe)</option>
                <option value="Nevis">Nevis</option>
                <option value="New Caledonia">New Caledonia</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Niger">Niger</option>
                <option value="Nigeria">Nigeria</option>
                <option value="Niue">Niue</option>
                <option value="Norfolk Island">Norfolk Island</option>
                <option value="Norway">Norway</option>
                <option value="Oman">Oman</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Palau Island">Palau Island</option>
                <option value="Palestine">Palestine</option>
                <option value="Panama">Panama</option>
                <option value="Papua New Guinea">Papua New Guinea</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Peru">Peru</option>
                <option value="Phillipines">Philippines</option>
                <option value="Pitcairn Island">Pitcairn Island</option>
                <option value="Poland">Poland</option>
                <option value="Portugal">Portugal</option>
                <option value="Puerto Rico">Puerto Rico</option>
                <option value="Qatar">Qatar</option>
                <option value="Republic of Montenegro">Republic of Montenegro</option>
                <option value="Republic of Serbia">Republic of Serbia</option>
                <option value="Reunion">Reunion</option>
                <option value="Romania">Romania</option>
                <option value="Russia">Russia</option>
                <option value="Rwanda">Rwanda</option>
                <option value="St Barthelemy">St Barthelemy</option>
                <option value="St Eustatius">St Eustatius</option>
                <option value="St Helena">St Helena</option>
                <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                <option value="St Lucia">St Lucia</option>
                <option value="St Maarten">St Maarten</option>
                <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                <option value="Saipan">Saipan</option>
                <option value="Samoa">Samoa</option>
                <option value="Samoa American">Samoa American</option>
                <option value="San Marino">San Marino</option>
                <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                <option value="Saudi Arabia">Saudi Arabia</option>
                <option value="Senegal">Senegal</option>
                <option value="Seychelles">Seychelles</option>
                <option value="Sierra Leone">Sierra Leone</option>
                <option value="Singapore">Singapore</option>
                <option value="Slovakia">Slovakia</option>
                <option value="Slovenia">Slovenia</option>
                <option value="Solomon Islands">Solomon Islands</option>
                <option value="Somalia">Somalia</option>
                <option value="South Africa">South Africa</option>
                <option value="Spain">Spain</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="Sudan">Sudan</option>
                <option value="Suriname">Suriname</option>
                <option value="Swaziland">Swaziland</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Syria">Syria</option>
                <option value="Tahiti">Tahiti</option>
                <option value="Taiwan">Taiwan</option>
                <option value="Tajikistan">Tajikistan</option>
                <option value="Tanzania">Tanzania</option>
                <option value="Thailand">Thailand</option>
                <option value="Togo">Togo</option>
                <option value="Tokelau">Tokelau</option>
                <option value="Tonga">Tonga</option>
                <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                <option value="Tunisia">Tunisia</option>
                <option value="Turkey">Turkey</option>
                <option value="Turkmenistan">Turkmenistan</option>
                <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                <option value="Tuvalu">Tuvalu</option>
                <option value="Uganda">Uganda</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="Ukraine">Ukraine</option>
                <option value="United Arab Erimates">United Arab Emirates</option>
                <option value="United States of America">United States of America</option>
                <option value="Uraguay">Uruguay</option>
                <option value="Uzbekistan">Uzbekistan</option>
                <option value="Vanuatu">Vanuatu</option>
                <option value="Vatican City State">Vatican City State</option>
                <option value="Venezuela">Venezuela</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                <option value="Wake Island">Wake Island</option>
                <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                <option value="Yemen">Yemen</option>
                <option value="Zaire">Zaire</option>
                <option value="Zambia">Zambia</option>
                <option value="Zimbabwe">Zimbabwe</option>
              </select>
            </section>
          </section>

          <!-- Date Of Return -->
          <section class="form-group row">
            <label class="col-md-3 label-control" for="date-of-return">Date Of Return: </label>
            <section class="col-md-6">
              <input
                type="date"
                id="date-of-return"
                class="form-control"
                name="dateOfReturn"
                [(ngModel)]="addRegistrationModel.miscellaneousInformation.returnedDate"
              />
            </section>
          </section>

          <!-- Actions -->
          <section class="form-actions center">
            <!-- Clear Button -->
            <button type="button" class="btn btn-raised btn-warning mr-1" (click)="form.reset()">
              <i class="ft-x"></i> Clear
            </button>

            <!-- Save Button -->
            <button type="button" class="btn btn-raised btn-primary" (click)="onSaveButtonClicked()">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </section>
        </form>
      </section>
    </section>
  </section>
</section>
