<section id="clinic-tabs">
  <section class="card">
    <section class="card-header">
      <h4 class="card-title">Lab Site Management</h4>
    </section>

    <section class="card-content p-3">
      <!-- TabSet Controls -->
      <ngb-tabset>
        <!-- Add Organization -->
        <ngb-tab title="Add Lab Site">
          <ng-template ngbTabContent>
            <app-add-clinic></app-add-clinic>
          </ng-template>
        </ngb-tab>

        <!-- View Organizations -->
        <ngb-tab title="View Lab Site(s)">
          <ng-template ngbTabContent>
            <app-list-clinic></app-list-clinic>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </section>
  </section>
</section>
