<section id="registration-preview-container">
  <section class="card">
    <section id="print-section" class="card-body p-3">
      <!-- Header Image -->
      <header class="d-flex justify-content-center align-items-center">
        <h5>Organization Logo</h5>
      </header>

      <!-- User Information Container -->
      <section class="user-information-container-grid">

        <!-- User Information -->
        <section class="user-information-grid">
          <section class="text-muted">Name:</section>
          <section class="pl-3">Sahar Ali Zahreddine</section>

          <section class="text-muted">ID:</section>
          <section class="pl-3">3</section>

          <section class="text-muted">Gender:</section>
          <section class="pl-3">Male</section>

          <section class="text-muted">Age:</section>
          <section class="pl-3">33</section>

          <section class="text-muted">Landline Number:</section>
          <section class="pl-3">7708165767</section>

          <section class="text-muted">Mobile Number:</section>
          <section class="pl-3">7708165767</section>

          <section class="text-muted">Medical Number:</section>
          <section class="pl-3">SAZ1234</section>

          <section class="text-muted">Referring Physician:</section>
          <section class="pl-3">Ministry Of Health</section>

          <section class="text-muted">Date:</section>
          <section class="pl-3">14-04-2020</section>

          <section class="text-muted">Status:</section>
          <section class="pl-3">Waiting For Sample Collection</section>
        </section>

        <!-- User Bar Code -->
        <section class="d-flex justify-content-end">
          <ngx-barcode6 [bc-format]="'CODE128'" [bc-value]="'12345678901231'" [bc-display-value]="true"></ngx-barcode6>
        </section>
      </section>

      <hr/>

      <!-- Test Information -->
      <header>
        <h5>Test Information</h5>
      </header>

      <section class="test-information-container-grid">
        <section class="test-information-grid">
          <section class="text-muted">Test</section>
          <section class="pl-3">Detection of 2019 Novel Coronavirus</section>

          <section class="text-muted">Method</section>
          <section class="pl-3">Real Time PCR</section>

          <section class="text-muted">Instrument</section>
          <section class="pl-3">Esco Spectrum</section>

          <section class="text-muted">Sample Type</section>
          <section class="pl-3">Throat Swab</section>

          <section class="text-muted">Collection Date</section>
          <section class="pl-3">09-April-2020</section>

          <section class="text-muted">Reporting Date</section>
          <section class="pl-3">10-April-2020</section>

          <section class="text-muted">Detected Genes</section>
          <section class="pl-3">N-Gene and ORFab1</section>

          <section class="text-muted">Interpretation</section>
          <section class="pl-3">Negative for Covid19/ Positive for Covid19</section>

          <section class="text-muted">Remarks</section>
          <section class="pl-3">
            According to WHO, one negative test result especially from upper respiratory sample does not exclude Covid19
            infection.
            Repetition of sampling is recommended. A positive patient needs to repeat the test within a period of 15
            days. A negative result
            is needed twice before being out of quarantine.
          </section>
        </section>
      </section>
    </section>

    <!-- Print Button -->
    <section class="d-flex justify-content-center align-items-center">
      <button [useExistingCss]="true" type="button" printSectionId="print-section" ngxPrint
              class="btn btn-raised btn-primary">
        <i class="fa fa-print"></i> Print
      </button>
    </section>
  </section>
</section>
