<section id="registration-list-container">
  <!-- Header Container-->
  <header id="header-container">
    <!-- Header Text -->
    <h5 class="test-list-header">COVID-19 Test List</h5>

    <!-- Filter -->
    <section class="input-group">
      <input type="text" class="form-control"/>
      <section class="input-group-append" ngbDropdown>
        <button class="btn btn-primary btn-raised" id="status-drop-down" ngbDropdownToggle>Status</button>
        <section ngbDropdownMenu class="dropdown-menu-right">
          <button class="dropdown-item">In Progress (Waiting for Sample Collection)</button>
          <button class="dropdown-item">In Progress (Waiting for Test Result)</button>
          <button class="dropdown-item">Declined</button>
          <button class="dropdown-item">Completed</button>
        </section>
      </section>
    </section>
  </header>

  <!-- Search Results -->
  <section class="card details-container">
    <section class="circle">ASK</section>
    <section class="patient-information">
      <header><h6>Arun Selva Kumar</h6></header>
      <section class="d-flex">
        <!-- ID -->
        <section class="text-muted">
          <span><i class="fa fa-user"></i></span>
          <span class="pl-2">456</span>
        </section>

        <!-- Contact Number -->
        <section class="text-muted pl-3">
          <span><i class="fa fa-phone"></i></span>
          <span class="pl-2">7708165767</span>
        </section>

        <!-- Registered Date -->
        <section class="text-muted pl-3">
          <span><i class="fa fa-hourglass"></i></span>
          <span class="pl-2">20-April-2020</span>
        </section>
      </section>
      <section class="d-flex mt-2">
        <span class="badge bg-primary white">Waiting For Sample Collection</span>
      </section>
    </section>
    <section class="d-flex flex-column align-items-center justify-content-center">
      <h3 class="text-primary">COVID-19</h3>
      <h6 class="text-danger"><i class="ft-chevrons-up"></i> High Priority</h6>
    </section>
    <section class="actions d-flex align-items-center justify-content-center">
      <i class="ft-file-text cursor-pointer mr-1 text-warning"></i>
    </section>
  </section>

  <section class="card details-container">
    <section class="circle">ASK</section>
    <section class="patient-information">
      <header><h6>Arun Selva Kumar</h6></header>
      <section class="d-flex">
        <!-- ID -->
        <section class="text-muted">
          <span><i class="fa fa-user"></i></span>
          <span class="pl-2">456</span>
        </section>

        <!-- Contact Number -->
        <section class="text-muted pl-3">
          <span><i class="fa fa-phone"></i></span>
          <span class="pl-2">7708165767</span>
        </section>

        <!-- Registered Date -->
        <section class="text-muted pl-3">
          <span><i class="fa fa-hourglass"></i></span>
          <span class="pl-2">20-April-2020</span>
        </section>
      </section>
      <section class="d-flex mt-2">
        <span class="badge bg-primary white">Waiting For Sample Collection</span>
      </section>
    </section>
    <section class="d-flex flex-column align-items-center justify-content-center">
      <h3 class="text-primary">COVID-19</h3>
      <h6 class="text-danger"><i class="ft-chevrons-up"></i> High Priority</h6>
    </section>
    <section class="actions d-flex align-items-center justify-content-center">
      <i class="ft-file-text cursor-pointer mr-1 text-warning"></i>
    </section>
  </section>

  <section class="card details-container">
    <section class="circle">ASK</section>
    <section class="patient-information">
      <header><h6>Arun Selva Kumar</h6></header>
      <section class="d-flex">
        <!-- ID -->
        <section class="text-muted">
          <span><i class="fa fa-user"></i></span>
          <span class="pl-2">456</span>
        </section>

        <!-- Contact Number -->
        <section class="text-muted pl-3">
          <span><i class="fa fa-phone"></i></span>
          <span class="pl-2">7708165767</span>
        </section>

        <!-- Registered Date -->
        <section class="text-muted pl-3">
          <span><i class="fa fa-hourglass"></i></span>
          <span class="pl-2">20-April-2020</span>
        </section>
      </section>
      <section class="d-flex mt-2">
        <span class="badge bg-primary white">Waiting For Sample Collection</span>
      </section>
    </section>
    <section class="d-flex flex-column align-items-center justify-content-center">
      <h3 class="text-primary">COVID-19</h3>
      <h6 class="text-danger"><i class="ft-chevrons-up"></i> High Priority</h6>
    </section>
    <section class="actions d-flex align-items-center justify-content-center">
      <i class="ft-file-text cursor-pointer mr-1 text-warning"></i>
    </section>
  </section>

  <section class="card details-container">
    <section class="circle">ASK</section>
    <section class="patient-information">
      <header><h6>Arun Selva Kumar</h6></header>
      <section class="d-flex">
        <!-- ID -->
        <section class="text-muted">
          <span><i class="fa fa-user"></i></span>
          <span class="pl-2">456</span>
        </section>

        <!-- Contact Number -->
        <section class="text-muted pl-3">
          <span><i class="fa fa-phone"></i></span>
          <span class="pl-2">7708165767</span>
        </section>

        <!-- Registered Date -->
        <section class="text-muted pl-3">
          <span><i class="fa fa-hourglass"></i></span>
          <span class="pl-2">20-April-2020</span>
        </section>
      </section>
      <section class="d-flex mt-2">
        <span class="badge bg-primary white">Waiting For Sample Collection</span>
      </section>
    </section>
    <section class="d-flex flex-column align-items-center justify-content-center">
      <h3 class="text-primary">COVID-19</h3>
      <h6 class="text-danger"><i class="ft-chevrons-up"></i> High Priority</h6>
    </section>
    <section class="actions d-flex align-items-center justify-content-center">
      <i class="ft-file-text cursor-pointer mr-1 text-warning"></i>
    </section>
  </section>

  <section class="card details-container">
    <section class="circle">ASK</section>
    <section class="patient-information">
      <header><h6>Arun Selva Kumar</h6></header>
      <section class="d-flex">
        <!-- ID -->
        <section class="text-muted">
          <span><i class="fa fa-user"></i></span>
          <span class="pl-2">456</span>
        </section>

        <!-- Contact Number -->
        <section class="text-muted pl-3">
          <span><i class="fa fa-phone"></i></span>
          <span class="pl-2">7708165767</span>
        </section>

        <!-- Registered Date -->
        <section class="text-muted pl-3">
          <span><i class="fa fa-hourglass"></i></span>
          <span class="pl-2">20-April-2020</span>
        </section>
      </section>
      <section class="d-flex mt-2">
        <span class="badge bg-primary white">Waiting For Sample Collection</span>
      </section>
    </section>
    <section class="d-flex flex-column align-items-center justify-content-center">
      <h3 class="text-primary">COVID-19</h3>
      <h6 class="text-danger"><i class="ft-chevrons-up"></i> High Priority</h6>
    </section>
    <section class="actions d-flex align-items-center justify-content-center">
      <i class="ft-file-text cursor-pointer mr-1 text-warning"></i>
    </section>
  </section>

  <section class="card details-container">
    <section class="circle">ASK</section>
    <section class="patient-information">
      <header><h6>Arun Selva Kumar</h6></header>
      <section class="d-flex">
        <!-- ID -->
        <section class="text-muted">
          <span><i class="fa fa-user"></i></span>
          <span class="pl-2">456</span>
        </section>

        <!-- Contact Number -->
        <section class="text-muted pl-3">
          <span><i class="fa fa-phone"></i></span>
          <span class="pl-2">7708165767</span>
        </section>

        <!-- Registered Date -->
        <section class="text-muted pl-3">
          <span><i class="fa fa-hourglass"></i></span>
          <span class="pl-2">20-April-2020</span>
        </section>
      </section>
      <section class="d-flex mt-2">
        <span class="badge bg-primary white">Waiting For Sample Collection</span>
      </section>
    </section>
    <section class="d-flex flex-column align-items-center justify-content-center">
      <h3 class="text-primary">COVID-19</h3>
      <h6 class="text-danger"><i class="ft-chevrons-up"></i> High Priority</h6>
    </section>
    <section class="actions d-flex align-items-center justify-content-center">
      <i class="ft-file-text cursor-pointer mr-1 text-warning"></i>
    </section>
  </section>
</section>
