<section id="registration-list-container" class="card">
  <!-- Header Container-->
  <header id="header-container">
    <!-- Header Text -->
    <h5 class="test-list-header">COVID-19 Test List</h5>

    <!-- Filter -->
    <section class="input-group">
      <input type="text" class="form-control"/>
      <section class="input-group-append" ngbDropdown>
        <button class="btn btn-primary btn-raised" id="status-drop-down" ngbDropdownToggle>Status</button>
        <section ngbDropdownMenu class="dropdown-menu-right">
          <button class="dropdown-item">In Progress (Waiting for Sample Collection)</button>
          <button class="dropdown-item">In Progress (Waiting for Test Result)</button>
          <button class="dropdown-item">Declined</button>
          <button class="dropdown-item">Completed</button>
        </section>
      </section>
    </section>
  </header>

  <!-- Search Results -->
  <section class="card-body card-grid-container">

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>

    <section class="card-grid-item">
      <header><h5 class="text-bold-500 primary">Arun Selva Kumar</h5></header>
      <section class="card-grid-item-details-grid">
        <section class="text-muted">ID:</section>
        <section class="pl-3">3</section>

        <section class="text-muted">Gender:</section>
        <section class="pl-3">Male</section>

        <section class="text-muted">Age:</section>
        <section class="pl-3">33</section>

        <section class="text-muted">Contact:</section>
        <section class="pl-3">7708165767</section>
      </section>
      <div class="actions float-right">
        <i class="ft-eye cursor-pointer mr-1 info"></i>
      </div>
    </section>
  </section>
</section>
