<section id="organization-tabs">
  <section class="card">
    <section class="card-header">
      <h4 class="card-title">Doctor Management</h4>
    </section>

    <section class="card-content p-3">

      <!-- TabSet Controls -->
      <ngb-tabset>
        <!-- Add Doctor -->
        <ngb-tab title="Add Doctor">
          <ng-template ngbTabContent>
            <app-add-doctor></app-add-doctor>
          </ng-template>
        </ngb-tab>

        <!-- View Doctors -->
        <ngb-tab title="View Doctors">
          <ng-template ngbTabContent>
            <app-list-doctor></app-list-doctor>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </section>
  </section>
</section>
