<section id="registration-list-container">
  <!-- Header Container-->
  <header id="header-container">
    <!-- Header Text -->
    <h5 class="test-list-header">COVID-19 Test List</h5>

    <!-- Filter -->
    <section class="input-group">
      <input type="text" class="form-control"/>
      <section class="input-group-append" ngbDropdown>
        <button class="btn btn-primary btn-raised" id="status-drop-down" ngbDropdownToggle>Status</button>
        <section ngbDropdownMenu class="dropdown-menu-right">
          <button class="dropdown-item">In Progress (Waiting for Sample Collection)</button>
          <button class="dropdown-item">In Progress (Waiting for Test Result)</button>
          <button class="dropdown-item">Declined</button>
          <button class="dropdown-item">Completed</button>
        </section>
      </section>
    </section>
  </header>

  <!-- Search Results -->
  <section
      class="card details-container cursor-pointer"
      (click)="onViewDetailsButtonClicked()"
      *ngFor="let registeredPatient of registeredPatients"
  >
    <section class="circle">
      {{ registeredPatient.firstName.charAt(0) }} {{ registeredPatient.lastName.charAt(0) }}
    </section>
    <section class="patient-information">
      <header>
        <h6>{{ registeredPatient.firstName }} {{ registeredPatient.lastName }}</h6>
      </header>
      <section class="d-flex">
        <!-- ID -->
        <section class="text-muted" *ngIf="registeredPatient._id">
          <span><i class="fa fa-id-card"></i></span>
          <span class="pl-2"> {{ registeredPatient._id }} </span>
        </section>

        <!-- Contact Number -->
        <section class="text-muted pl-3" *ngIf="registeredPatient.mobileNumber[0]">
          <span><i class="fa fa-phone"></i></span>
          <span class="pl-2">{{ registeredPatient.mobileNumber[0] }}</span>
        </section>

        <!-- State -->
        <section class="text-muted pl-3" *ngIf="registeredPatient.state">
          <span><i class="fa fa-map"></i></span>
          <span class="pl-2"> {{ registeredPatient.state }} </span>
        </section>

        <!-- Area -->
        <section class="text-muted pl-3" *ngIf="registeredPatient.area">
          <span><i class="fa fa-map-marker"></i></span>
          <span class="pl-2"> {{ registeredPatient.area }} </span>
        </section>
      </section>
      <section class="d-flex mt-2">
        <span class="badge bg-primary white">Waiting For Sample Collection</span>
      </section>
    </section>
    <section class="d-flex flex-column align-items-center justify-content-center">
      <h3 class="text-primary">COVID-19</h3>
    </section>
    <section class="actions d-flex align-items-center justify-content-center">
      <i class="ft-file-text mr-1 text-warning"></i>
    </section>
  </section>
</section>
